@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

:root{
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: darkorange;
    --quartiary-color: grey;
    --font: "Playfair Display";
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "navigation"
    "content"
    "footer";
}

header{
    grid-area: header;
    position: center;
}

nav{
    grid-area: navigation;
    text-align: center;
    position: sticky;
    top: 0px;
}

.nav-objects{
    color: var(--primary-color);
    margin: 3%;
    padding: 2%;
}

main{
    grid-area: content;
}

footer{
    grid-area: footer;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
}

.dropdown-content{
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: 5px;
}

.dropdown-content a{
    font-size: 15px;
    display: block;
}

.dropdown-hover {
    position: relative;
    display: none;
    font-size: 20px;
}

.dropdown-hover:hover .dropdown-content{
    font-size: 15px;
    display: block;
}

.dropbtn {
    font-family: var(--font);
    font-size: 20px;
    background-color: var(--tertiary-color);
    border: none;
    cursor: pointer;
}

.side-by-side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.inline-block{
    display: inline;
}

.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    font-size: 60px;
    padding-right: 2%;
    border-right: solid var(--tertiary-color) 2px;
    margin-left: 5%;
}

.subtitle1{
    font-size: 20px;
    margin: 5px;
    padding: 2px;
}

.text1{
    font-size: 15px;
    padding: 7px;
}

.border{
    border: solid var(--secondary-color) 2px;
    width: 100%;
}

.banner-orange{
    padding: 5%;
    flex-direction: column;
    align-self: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 25px;
    width: 80vw;
    margin: 50px 10vw 0px 10vw;
}

.banner-orange-small{
    padding: 1%;
    flex-direction: column;
    align-self: center;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 25px;
    width: 100%;
    margin: 50px 0px 0px 0px;
    min-height: 180px;
}

.orange-banner-objects{
    color: var(--primary-color);
    margin: 3%;
    padding: 2%;
}

.banner-white{
    padding: 5%;
    flex-direction: column;
    align-self: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 25px;
    width: 80vw;
    margin: 50px 10vw 0px 10vw;
    display: block;
}

.white-banner-objects{
    color: var(--primary-color);
    margin: 3%;
    padding: 2%;
}

.banner-black{
    padding: 5%;
    flex-direction: column;
    align-self: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    width: 80vw;
    margin: 50px 10vw 0px 10vw;
    display: none;
}

.black-banner-objects{
    color: var(--secondary-color);
    margin: 3%;
    padding: 2%;
}

.banner-grey{
    padding: 5%;
    flex-direction: column;
    align-self: center;
    background-color: var(--quartiary-color);
    color: var(--primary-color);
    border-radius: 25px;
    width: 80vw;
    margin: 50px 10vw 0px 10vw;
}

.footer-grey{
    background-color: var(--quartiary-color);
    color: var(--primary-color);
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

.footer-grey div{
    display: inline-block;
}

.picture{
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 25px;
    height: 25px;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.search-banner{
    margin-top: 20px;
}

header form{
    text-align: center;
}

body div{
    padding: 1px;
}

body p{
    font-size: 120%;
    margin-left: 27px;
}

nav img{
    width: 25px;
    margin-bottom: -4px;
}

a{
    color: var(--primary-color);
    text-decoration: none;
}

.banner-white a{
    color: var(--primary-color);
    text-decoration: none;
}

.banner-black a{
    color: var(--secondary-color);
    text-decoration: none;
}

#myDropdown3{
    left: -10px;
}

#myDropdown4{
    left: -15px;
}

@media screen and (min-width: 405px) {

    .banner-orange-small{
        min-height: 145px;
    }
}

@media screen and (min-width: 770px) {

    body p{
        margin-top: 65px;
        margin-left: 5px;
    }
    .banner-orange-small{
        width: 80vw;
        margin: 50px 10vw 0px 10vw;
    }

    .search-banner{
        margin-top: 0px;
    }
}

@media screen and (min-width: 900px) {

    .grid-container{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-areas:
        "header header"
        "navigation navigation"
        "content content"
        "footer footer";
    }
}

@media screen and (min-width: 1200px) {

    .grid-container{
        display: grid;
        grid-template-columns: 70% 20% 10%;
        grid-template-areas:
        "header header header"
        "navigation navigation navigation"
        "content content content"
        "footer footer footer";
    }

    .dropdown-hover{
        display: inline-block;
    }

    .dropdown{
        display: none;
    }

    .dropdown-content{
        left: auto;
        top: auto;
        margin-top: 0px;
    }
}

@media screen and (min-width: 1800px) {

    .banner-black{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
    }

    .banner-grey{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
    }

    .banner-orange{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
    }

    .banner-white{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
    }
}

@media (prefers-color-scheme: light) {

    :root{
        --tertiary-color: orange;
    }

    body{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .banner-white{
        display: none;
    }

    .banner-black{
        display: block;
    }
}